* {
  box-sizing: border-box;
}

//html,
//body {
//  height: 100%;
//  position: relative;
//}

.App {
  text-align: center;
}

.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 50px;
  background: #b4b4b4;
  //color: #b8abaa;
}

.card-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 81%
}

.book-card {
  position: relative;
}

.overlay:hover{
  cursor: pointer;
}

.add-to-reading{
  padding-top: 13px;
}
.display-error {
  width: 100%;
  text-align: center;
}

p{
  font-size: 25px;
  text-align: center;
}
.error-message {
  color: #F88112;
  font-size: 2em;
  text-align: center;
}

.load-error {
  color: #F88112;
  font-size: 2em;
}

.mm-popup__box {
  width: 30%;
  height: 25%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  padding: 1em;
  background-color: #F88112;
  border-radius: 5px;
  border: 3px solid #b4b4b4;
  color: #395148;
  font-weight: bold;
  overflow: hidden;
  z-index: 1001;
  opacity: 0.8%;
}

.mm-popup__box__header {
  padding: 15px 20px;
  background: #D06800FF;
  border-color: #395148;
  color: #b4b4b4;
}

.mm-popup__box__header__title {
  margin: 0;
  font-size: 16px;
  text-align: left;
  font-weight: 600;
}

.mm-popup__box__body {
  font-size: 1.4rem;
  text-align: center;
  padding: 20px;
  line-height: 1.4;
  color: rgb(17, 17, 22);
  //background: rgba(166, 244, 196, 0.664);
  position: relative;
  z-index: 2;
  white-space: pre-wrap;
  text-shadow: 0 2px 2px rgb(225, 232, 238);
}

.mm-popup__box__body p {
  margin: 0 0 5px;
}

.mm-popup__box__footer {
  overflow: hidden;
  padding: 0px 10px 10px;
}

.mm-popup__box__footer__right-space {
  float: right;
}

.mm-popup__box__footer__right-space .mm-popup__btn {
  margin-left: 5px;
  height: 40px;
  width: 45px;
  border: 3px solid #395148;
}

.mm-popup__close {
  outline: none;
  border: none;
}

@media screen and (max-device-width: 1025px){
  .mm-popup__box {
    width: 50%;
    height: 25%;
  }
}
//@media screen and (max-width: 930px) {
//
//}
//
//@media screen and (max-width: 651px) {
//
//}
//
@media screen and (max-width: 376px){
  .mm-popup__box {
    width: 60%;
    height: 38%;
  }
}

@media screen and (max-width: 600px) {
  .site-container {
    flex-direction: column;
    overflow-x: scroll;
    width: 100%;
    margin:0;
    padding:0;
  }

  .book-display {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin:0;
    padding:0;
  }
}
