* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  background: #403737;
  color: #b8abaa;
}

.card-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 81%
}

.book-card {
  position: relative;
}

.overlay:hover{
  cursor: pointer;
}


.overlay {
  position: absolute;
  background: rgba(73, 71, 71, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.display-error {
  width: 100%;
  text-align: center;
}


.error-message {
  color: #D06800FF;
  font-size: 2em;
  text-align: center;
}

.load-error {
  color: #D06800FF;
  font-size: 2em;
}

@media screen and (max-width: 600px) {
  .site-container {
    flex-direction: column;
    overflow-x: scroll;
    width: 100%;
    margin:0;
    padding:0;
  }

  .book-display {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin:0;
    padding:0;
  }
}
