* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}


  body {
    background: #141414;
    color: #ffffff;
  }


.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.card-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 81%
}

.display-error {
  width: 100%;
  text-align: center;
}
//
//.error-message {
//  color: #6FD42E;
//  font-size: 2em;
//  text-align: center;
//}
//
//.load-error {
//  color: #6FD42E;
//  font-size: 2em;
//}
