.card-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 81%
}

.completed{
  padding-bottom: 15px;
}

.book-link {
  width: 19.25%;
  margin-top: 15px;
  padding-bottom: 15px;
}

.book-card {
  flex-wrap: wrap;
  justify-content: space-between;
  flex-shrink: 0;
  width: 93%;
  height: 70%;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 0 6px 2px rgb(248, 141, 39);
  position: relative;
  transition: transform 0.3s;
}

.favorite-button {
  padding: 11px;
}

.book-card:hover{
  cursor: pointer;
  transform: scale(1.03);
}

.favorite-button:hover{
  cursor: pointer;
  //transform: scale(1.1);
}
.path:hover{
  cursor: pointer;
}

.card-title{
  padding-top: 15px;
  color:#D06800FF;
}


@media screen and (max-width: 600px) {

  .book-link {
    flex: 0 0 auto;
    width: 60%;
    margin: 7% 0 0 1%
  }

  .book-card {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 94.25%;
    flex: 0 0 auto;
  }
}

@media screen and (max-width: 425px) {

  .book-link {
    width: 69%;
  }
}

@media screen and (max-width: 425px) {

  .book-link {
    width: 78%;
  }
}

@media screen and (max-width: 320px) {

  .book-link {
    width: 90%;
  }
}