.search-bar{
  //height: 100%;
  width: 100%;
  //padding-right: 19%;
}

input{
  //height: 500%;
  width: 15%;
}

@media screen and (max-width: 1025px) {
  .search-bar {
    width: 33%;
    padding-right: 0;
  }
  input {
    width: 82%;
  }
}

@media screen and (max-width: 768px) {
  .search-bar {
    width: 58%;
    padding-right: 34%;
  }
}

@media screen and (max-width: 425px) {

  //.search-bar {
  //  width: 222px;
  //}

  .search-bar {
    width: .25em;
  }

  input {
    width: 24em;
  }
}

@media screen and (max-width: 375px) {
  .search-bar {
    width: 57%;
    padding-right: 0;
  }
  input {
    width: 82%;
  }
}

//@media screen and (max-device-width: 1024px){
//
//}
//@media screen and (max-width: 930px) {
//
//}
//
//@media screen and (max-width: 651px) {
//
//}
//
//@media screen and (max-width: 376px){
//
//}