.search-bar{
  //height: 100%;
  width: 100%;
  //padding-right: 19%;
}

input{
  //height: 500%;
  width: 15%;
}

@media screen and (max-width: 1024px) {
  .search-bar {
    width: 38%;
    padding-right: 18%;
  }
}

@media screen and (max-width: 768px) {
  .search-bar {
    width: 58%;
    padding-right: 34%;
  }
}

@media screen and (max-width: 425px) {

  //.search-bar {
  //  width: 222px;
  //}

  .search-bar {
    width: .25em;
  }

  input {
    width: 24em;
  }
}

@media screen and (max-width: 375px) {
  input {
    width: 12em;
  }
}