
.App-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100px;
  width: 90%;
  background-color: black;
  border-radius: 10px;
  color: #f88d27;
  margin-bottom: 15px;
  font-size: 30px;
}

.title {
  display: flex;
  font-size: 40px;
  margin-left: 6%;
}

.header-button:hover {
  background-color: #240707;
}

@media screen and (max-width: 1024px) {

  .App-header {
    font-size: 25px;
  }

}

@media screen and (max-width: 768px) {

  .title {
    width: 57%;
    margin-left: 10%
  }

  .nav-buttons {
    padding-right: 5%;
  }

  .home {
    width: 81%;
  }
}

@media screen and (max-width: 600px) {
  .App-header {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
    width: 100%;
  }

  .header-button {
    border-radius: 10px;
    width: 130px;
    text-align:  center;
  }
}

@media screen and (max-width: 425px) {

  .header-button {
    width: 156px;
  }

  .header-button {
    width: 56px;
  }

}

@media screen and (max-width: 375px) {

  .header-button {
    width: 45px;
    font-size: 10px;
  }
}
