.App-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100px;
  width: 90%;
  background-color: #1E0B0C;
  border-radius: 10px;
  color: #F88112;
  margin-bottom: 15px;
}

.title {
  display: flex;
  margin-left: 6%;
  font-size: 30px;
  text-shadow: #b4b4b4;
}

.page-quote{
  justify-content: center;
  font-size: 25px;
}

.header-button:hover {
  background-color: #240707;
}

.reading-list-button {
  border-radius: 8px;
  width: 175px;
  height: 50px;
  text-align:  center;
  font-size: 16px;
  font-weight: bold;
  margin-left: -26%;
  border: #b4b4b4;
  background-color: #F88112;
  color:black;
}
@media screen and (max-width: 1025px) {

  .title {
    font-size: 30px;
    margin-left: 4%;
    width: 9%;
  }

  .reading-list-button {
    width: 161px;
    height: 46px;
    font-size: 17px;
  }

}

@media screen and (max-width: 768px) {

  .title {
    width: 57%;
    margin-left: 10%
  }

  .nav-buttons {
    padding-right: 5%;
  }

  .home {
    width: 81%;
  }
}

@media screen and (max-width: 600px) {
  .App-header {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
    width: 100%;
  }

  .header-button {
    border-radius: 10px;
    width: 130px;
    text-align:  center;
  }
}

@media screen and (max-width: 425px) {
  .App-header{
    border-radius: 0;
  }

  .title {
    font-size: 33px;
    width: 0;
    margin-left: 5%;
    margin-top: 3%
  }


  .reading-list-button {
    width: 95px;
    height: 48px;
    font-size: 14px;
  }

  .page-quote{
    display:none;
  }
}

@media screen and (max-width: 375px) {
  .App-header{
    border-radius: 0;
  }

  .title {
    font-size: 28px;
    width: 0;
    margin-left: 5%;
    margin-top: 3%
  }


  .reading-list-button {
    width: 88px;
    height: 46px;
    font-size: 11px;
  }

  .page-quote{
    display:none;
  }
}

//@media screen and (max-device-width: 1024px){
//
//}
//@media screen and (max-width: 930px) {
//
//}
//
//@media screen and (max-width: 651px) {
//
//}
//
//@media screen and (max-width: 376px){
//
//}