
  .toggle-checkbox {
    height: 0px;
    width: 0px;
    opacity: 0;
  }

  .toggle {
  height: 18px;
  width: 18px;
  position: absolute;
  border-radius: 10px;
  background-color: #f88d27;
  right: 50%;
  bottom: -7%;
  padding-bottom: 10px;
  transition: all .3s; }

  .toggle-switch {
   border: solid 2px #f88d27;
   position: relative;
   display: inline-block;
   border-radius: 20px;
   padding: 3px;
   width: 40px;
   height: 20px }

  .toggled {
    .toggle {
      right: 3px;
    }
  }
